.cart-checkout-section {
  visibility: hidden;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  padding: 5px;
}

.cart-checkout {
  display: flex;
  gap: 20px;
  /* border: 10px solid rgb(255, 186, 179); */
}

.cart-preview,
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(255, 186, 179);
  padding: 8px;

  border-radius: 5px;
}

.contact-info,
.bill-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 5px solid rgb(255, 186, 179); */
}

@media (max-width: 530px) {
  .cart-checkout {
    flex-direction: column;
  }
  .cart-preview,
  .contact-form,
  .contact-info,
  .bill-info {
    width: 90%;
  }
}
@media (min-width: 531px) {
  .cart-checkout {
    flex-direction: row;
  }
  .cart-preview,
  .contact-form,
  .contact-info,
  .bill-info {
    width: 100%;
  }
}
