img {
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  margin-top: 110px;
  margin-right: 80px;
  font-family: Arial;
  font-size: 12px;

  height: 1500px;
}
